# macOS system files
Schminder_Android/.idea/
Schminder_Android/app/.DS_Store
Schminder_Android/.DS_Store

# Jetpack Compose build folders
Schminder_Android/app/build
Schminder_Android/app/.gradle

# IntelliJ/Android Studio
Schminder_Android/app/.idea/
Schminder_Android/app/*.iml

# NodeJS
Schminder_Android/app/node_modules/

# Python
Schminder_Android/app/__pycache__/
Schminder_Android/app/*.pyc

# Build results
Schminder_Android/app/release/
Schminder_Android/app/debug/



